@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* Custom scrollbar for data density */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Utilitarian input styles */
.input-base {
  @apply appearance-none bg-white border border-slate-200 rounded px-3 py-2 w-full text-sm text-slate-900 focus:outline-none focus:border-slate-900 transition-colors;
}